server {
    listen 80;

    server_name _;

    location / {
        set $scheme http;
        if ($https_redirect = "true") {
            set $scheme https;
        }
        return 301 $scheme://$TARGET_DOMAIN$request_uri;
    }
}